{% extends "invapp/layout.html" %}
{% block title %}Home - Inventory App{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">
            Welcome to Inventory App
        </h1>
        <hr class="my-4">
        <p>Manage your inventory efficiently and effectively.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'product_list' %}" role="button">View Products</a>
        <a class="btn btn-success btn-lg" href="{% url 'product_create' %}" role="button">Add New Product</a>
    </div>
{% endblock %}